In [37]:
import pandas as pd
import numpy as np

# 读取 Excel 文件
df = pd.read_excel('data_field/field_add_Q.xlsx')

# 去除包含 0 的行
df = df[(df!= 0).all(axis=1)]

# 筛选出 field 为 Database、Artificial Intelligence 和 Cloud Native 的数据
filtered_df = df[df['field'].isin(['Database', 'Artificial Intelligence', 'Cloud Native'])]

# 定义要处理的列名，范围从 2020Q4 到 2024Q3
columns_to_check = [f'{year}Q{quarter}' for year in range(2020, 2025) for quarter in range(1, 5) 
                  if (year == 2020 and quarter >= 4) or (year > 2020 and year < 2024) or (year == 2024 and quarter <= 3)]

# 按照 field 字段进行分组
grouped_df = filtered_df.groupby('field')

grouped_mean = grouped_df[columns_to_check].mean().round(2)
print(grouped_mean)

In [41]:
import pandas as pd
import numpy as np

# 读取 Excel 文件
df = pd.read_excel('data_field/field_add_Q.xlsx')

# 去除包含 0 的行
df = df[(df!= 0).all(axis=1)]

# 筛选出 field 为 Database、Artificial Intelligence 和 Cloud Native 的数据
filtered_df = df[df['field'].isin(['Database', 'Artificial Intelligence', 'Cloud Native'])]

# 定义要处理的列名，范围从 2020Q4 到 2024Q3
columns_to_check = [f'{year}Q{quarter}' for year in range(2020, 2025) for quarter in range(1, 5) 
                  if (year == 2020 and quarter >= 4) or (year > 2020 and year < 2024) or (year == 2024 and quarter <= 3)]

# 按照 field 字段进行分组
grouped_df = filtered_df.groupby('field')

grouped_mean = grouped_df[columns_to_check].mean().round(2)
print(grouped_mean)

,2020Q4,2021Q1,2021Q2,2021Q3,2021Q4,2022Q1,2022Q2,2022Q3,2022Q4,2023Q1,2023Q2,2023Q3,2023Q4,2024Q1,2024Q2,2024Q3
field,,,,,,,,,,,,,,,,
Artificial Intelligence,148.04,144.80,145.58,149.72,123.97,131.93,132.85,134.54,133.65,133.76,137.21,130.80,124.34,119.56,121.39,119.31
Cloud Native,109.15,107.72,108.92,109.59,95.62,104.93,107.83,110.49,111.02,110.91,110.16,108.73,108.97,108.19,108.68,106.26
Database,96.34,95.92,98.27,102.82,91.55,98.41,101.98,105.81,107.38,108.36,109.97,109.70,107.20,104.36,104.37,102.00